

.sidebar{

   margin-left: 9vw;
   width: 85vw;
   display: flex;
   
    justify-content: space-around;
}

.links{

   margin-top: 3vh;
   margin-left: 1vw;
   font-size: 1.4rem;
   width: 10vw;
   height: 6vh;
   background-color: bisque;
   border-radius: 30px;
   text-align: center;

}

.active-link{

   margin-top: 3vh;
   margin-left: 1vw;
   font-size: 1.4rem;
   width: 10vw;
   height: 6vh;
   background-color: goldenrod;
   border-radius: 30px;
   text-align: center;

}

