.cart{

   width: 16vw;
   height: 46vh;
   border-radius: 20px;
   background-color: rgb(197, 198, 199);
}

img{

   width: 14vw;
   height: 25vh;
   object-fit: cover;
   margin-left: 20px;
   margin-top: 20px;
   
}